html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-background {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #303030;
    color: white;
}

.error-message {
    color: #f44336;
    font-size: 13px;
}

.form-field {
    width: 100%;
    position: relative;
}